
@model EmployeesEvaluation.WEB.Dtos.EvaluationResponseDto
@{
    ViewData["Title"] = @Model.Evaluation.Title;
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Evaluations" asp-action="SaveReply" enctype="multipart/form-data" method="post" class="form-horizontal">
        
    <hr />

    <div asp-validation-summary="All" class="text-danger"></div>


    <div class="form-group">
        
        <div class="col-md-12">
            @Model.Evaluation.Introduction
        </div>
    </div>    

    <p>&nbsp;</p>
    
    @foreach (var question in Model.Evaluation.Questions.Select((value,i) => new {i, value}))
    {
        <div class="form-group">
            <div class="col-md-10">
                <h4>@question.value.Description</h4>
            </div>
        </div>

        if (question.value.QuestionType == QuestionTypeDto.LikertScale)
        {
            @foreach (var likertAnswer in question.value.LikertAnswers)
            {
                <div class="form-group">
                    <input asp-for="@Model.QuestionAnswers[@question.i].QuestionId" type="hidden" value="@question.value.Id" />
                    
                    <div class="col-md-10">
                        <input asp-for="@Model.QuestionAnswers[@question.i].LikertAnswerId" type="radio" value="@likertAnswer.Id" /> @likertAnswer.Description
                    </div>
                </div>
            }
        }
        else if (question.value.QuestionType == QuestionTypeDto.OpenEnded)
        {
            <div class="form-group">
                <input asp-for="@Model.QuestionAnswers[@question.i].QuestionId" type="hidden" value="@question.value.Id" />
                
                <div class="col-md-10">
                    <textarea asp-for="@Model.QuestionAnswers[@question.i].OpenEndedAnswer" class="form-control" rows="5" cols="40"></textarea>
                    <span asp-validation-for="@Model.QuestionAnswers[@question.i].OpenEndedAnswer" class="text-danger"></span>
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                <input asp-for="@Model.QuestionAnswers[@question.i].QuestionId" type="hidden" value="@question.value.Id" />
                
                <div class="col-md-10">
                    <input asp-for="@Model.QuestionAnswers[@question.i].File" />
                </div>
            </div>
        }

        
        <p>&nbsp;</p>
    <hr />
    }
   

    <div class="form-group">
        <p>&nbsp;</p>
        <div class="col-md-12">
            @Model.Evaluation.Disclosure
        </div>
    </div>
    <p>&nbsp;</p><p>&nbsp;</p>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input asp-for="@Model.EvaluationId" type="hidden" value="@Model.EvaluationId" />
            <input asp-for="@Model.EmployeeId" type="hidden" value="@Model.EmployeeId" />
            <input asp-for="@Model.DepartmentManagerId" type="hidden" value="@Model.DepartmentManagerId" />
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>


@section scripts {
  
    <script>

    </script>

}